<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueBasicSetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <div id='hello'>
      {{message}}
      <app></app>
    </div>

    <%= yield %>
  </body>
</html>
